{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>Use nav bar up there to run some CRUD functionality</p>
    <p>User table is fully functional, however others dont</p>
    <p>I tried to make some dynamic template action, but having no prior experience in any web was doomed</p>
    <p>I see there two major issues - django is rather hostile towards composite primary keys, and I could find no feasible solutions to this</p>
    <p>Second is that I couldn't register and apply any templatetags which I needed to drill down towards actual key value to be plugged in url</p>
    <p>The fact I need them at all might be initial design approach flaw, or poor framework knowledge, which is actually both</p>
    <p>Anyway, it was indeed a nice experience of web framework pet project I had</p>
{% endblock %}